---
---
<div id="seguros" class="container mx-auto text-blue py-24">
	<div class="md:w-2/3 mx-auto">
		<div class="text-center">
			<h2 class="inline-block font-black text-2xl  mb-8 relative before:content-[''] before:block before:absolute before:left-0 before:-bottom-4 before:bg-blue-300 before:w-3 before:h-3 before:rounded-full after:content-[''] after:block after:absolute after:left-2 after:-bottom-3 after:bg-blue-300 after:w-full after:max-w-72 after:h-1 after:rounded-full">Seguros Médicos</h2>
		</div>
		<p class="px-4 md:px-0 my-4">Nos complace informarles que aceptamos una amplia variedad de seguros médicos para su comodidad y tranquilidad. Entre los seguros que recibimos se encuentran:</p>
		<ul class="columns-2 font-bold px-4 md:px-0">
			<li>ADISA</li>
			<li>ASSA</li>
			<li>Best Doctors</li>
			<li>BlueCross BlueShield</li>
			<li>BMI</li>
			<li>Cigna</li>
			<li>INS Medical</li>
			<li>MAPFRE</li>
			<li>Pan-American Life (PALIG)</li>
			<li>Redbridge</li>
		</ul>
		<p class="my-4 px-4 md:px-0">Estamos comprometidos con su salud visual y queremos facilitar su acceso a nuestros servicios. Si tenés alguna consulta sobre la cobertura de tu seguro o necesitás asistencia adicional, no dudes en contactarnos. <strong>¡Estamos aquí para ayudarte a ver el mundo con claridad!</strong></p>
		<p class="my-4 px-4 md:px-0">Contamos con convenios y alianzas estratégicas que te permiten acceder a precios especiales en nuestros servicios. Queremos facilitarte el cuidado de tu salud visual y que disfrutes de los mejores beneficios disponibles. Si deseas más información sobre estos descuentos y cómo aprovecharlos, podés llamarnos o escribirnos por WhatsApp al 8713-7180. ¡Tu bienestar visual es nuestra prioridad!</p>
	</div>
</div>