---
import HelpImg from '../../assets/help-home.webp';
---
<section class="bg-blue text-white">
	<div class="container mx-auto">
		<div class="md:flex flex-row items-center justify-center">
			<div class="md:w-3/5">
				<img src={HelpImg.src} alt="Ayuda" class="w-full h-auto aspect-[40/21]">
			</div>
			<div class="md:w-2/5 p-4">
				<h2 class="mb-4 font-bold uppercase text-sky text-2xl">¿Cómo podemos ayudarte?</h2>
				<p class="mb-4">Nuestra clínica está liderada por el Dr. Nelson Bravo experto en áreas fundamentales de la oftalmología, como el Segmento Anterior o Córnea y el área de Oculoplástica.</p>
				<p class="mb-4">Nos esforzamos por ofrecerte un enfoque integral para tu salud visual, combinando la última tecnología con la calidez y el cuidado humano que vos mereces.</p>
				<p class="mb-4">Ofrecemos una variedad de <strong class="text-magenta">técnicas avanzadas de corrección de la vista</strong> que te permitirán disfrutar de una visión nítida y sin complicaciones.</p>
				<p>Confíe en CEO para ser su aliado en el cuidado de sus ojos. ¡Estamos aquí para ayudarlo a ver el mundo con claridad!</p>
			</div>
		</div>
	</div>
</section>