---
import HeroImg from '../../assets/ceo-hero-home.webp';
import MainLogo from '../../assets/logo-ceo.svg';
import ScheduleAppointment from '../../interface/BtnScheduleAppointment.astro';
---
<div class="md:bg-circle bg-no-repeat bg-[length:200px_200px] bg-[left_-125px_bottom_10px]">
	<section class="container mx-auto" id="inicio">
		<div class="md:flex flex-row items-center justify-center">
			<div class="md:w-1/2 px-12 py-4">
				<img src={MainLogo.src} alt="CEO - Centro de Especialidades Oftalmológicas Dr. Nelson Bravo" class="max-w-sm mx-auto aspect-[35/23]" />
				<p class="text-blue">En CEO, Centro de Especialidades Oftalmológicas, estamos comprometidos con su bienestar ocular a través de un especialista altamente calificado.</p>
				<ScheduleAppointment />
			</div>
			<div class="md:w-1/2">
				<img src={HeroImg.src} alt="CEO's Message" class="w-full h-auto">
			</div>
		</div>
	</section>
</div>