---
import HeroImg from '../../assets/ceo-hero-home.webp';
import MainLogo from '../../assets/logo-ceo.svg';
import ScheduleAppointment from '../../interface/BtnScheduleAppointment.astro';
---
<div class="bg-blue-300 bg-hero md:bg-center bg-no-repeat bg-cover aspect-[25/10] flex items-center">
	<section class="container mx-auto">
		<div class="md:flex flex-row items-center">
			<div class="md:max-w-sm p-4">
				<img src={MainLogo.src} alt="CEO - Centro de Especialidades Oftalmológicas Dr. Nelson Bravo" class="aspect-[35/23]" />
				<p>
					<strong>Bienvenido a CEO Centro de Especialidades Oftalmológicas - Cirugías Dr. Nelson Bravo</strong> 
					Dedicado a brindar la mejor atención y cuidado para tu salud visual.
				</p>
				<ScheduleAppointment />
			</div>
		</div>
	</section>
</div>