---
import ScheduleAppointment from "../../interface/BtnScheduleAppointment.astro";
import Img01 from '../../assets/ceo-home-1.webp';
import Img02 from '../../assets/ceo-home-2.webp';
---
<div class="container mx-auto md:bg-circle bg-no-repeat bg-[length:200px_200px] bg-[right_10px_top_-25px]" id="cirugias">
	<div class="md:flex md:flex-row md:items-end md:justify-center">
		<section class="md:w-3/5">
			<div class="p-4 mb-4">
				<h2 class="mb-4 text-blue font-bold uppercase text-2xl">Nuestros servicios</h2>
				<p class="mb-4">¿Estás listo para ver el mundo con claridad sin depender de anteojos o lentes de contacto?</p>
				<h3 class="mb-4 text-blue font-bold text-xl">Cirugía correctivas de miopía, astigmatismo, hipermetropía con láser</h3>
				<ul class="p-4">
					<li class="mb-4 before:content-['○'] before:-ms-4">
						<strong>Corrección con láser Excimer</strong>: Desde LASIK y PRK hasta INTRALASIK, FEMTOLASIK y SMILE, contamos con las últimas tecnologías para ofrecerte resultados seguros y precisos.
					</li>
					<li class="mb-4 before:content-['○'] before:-ms-4">
						<strong>Implante de lentes intraoculares</strong>: Con opciones como ICL, Artisan y Artiflex, podemos personalizar tu tratamiento para satisfacer tus necesidades específicas.
					</li>
					<li class="before:content-['○'] before:-ms-4">
						<strong>Cirugía facorrefractiva</strong>: Cuando se trata de casos más complejos, como la presencia de cataratas, nuestro equipo experto puede realizar procedimientos de extracción del cristalino e implantes de lentes intraoculares para restaurar tu visión.
					</li>
				</ul>
				<ScheduleAppointment />
			</div>
			<img src={Img01.src} alt="Cirugía de cataratas" class="w-full h-96 object-cover" />
		</section>
		<section class="md:w-2/5">
			<div class="p-4 md:border-l md:border-l-blue mb-4">
				<h3 class="mb-4 text-blue font-bold text-xl">Cataratas</h3>
				<p class="mb-4">Este procedimiento rápido y sin dolor implica la eliminación del cristalino opacificado y su reemplazo por un lente intraocular.</p>
				<p class="mb-4">Con la tecnología de facoemulsificación, podemos realizar este proceso con precisión y riesgos mínimos.</p>
				<p class="mb-4"><a href="/cataratas" class="text-blue-600 italic underline">Ver más</a></p>
				<ScheduleAppointment />
			</div>
			<img src={Img02.src} alt="Cirugía de cataratas" class="w-full h-96 object-cover" />
		</section>
	</div>
</div>