---
import ScheduleAppointment from "../../interface/BtnScheduleAppointment.astro";

---
<div class="container mx-auto">
	<div class="md:flex flex-row items-center justify-center">
		<div class="md:w-3/5 p-4">
			<h2 class="mb-4 text-blue font-bold uppercase text-2xl">Nuestros servicios</h2>
			<p class="mb-4">¿Estás listo para ver el mundo con claridad sin depender de anteojos o lentes de contacto?</p>
			<h3 class="mb-4 text-blue font-bold text-xl">Cirugía correctivas de miopía, astigmatismo, hipermetropía con láser</h3>
			<ul class="p-4">
				<li class="mb-4 before:content-['○'] before:-ms-4">
					<strong>Corrección con láser Excimer</strong>: Desde LASIK y PRK hasta INTRALASIK, FEMTOLASIK y SMILE, contamos con las últimas tecnologías para ofrecerte resultados seguros y precisos.
				</li>
				<li class="mb-4 before:content-['○'] before:-ms-4">
					<strong>Implante de lentes intraoculares</strong>: Con opciones como ICL, Artisan y Artiflex, podemos personalizar tu tratamiento para satisfacer tus necesidades específicas.
				</li>
				<li class="before:content-['○'] before:-ms-4">
					<strong>Cirugía facorrefractiva</strong>: Cuando se trata de casos más complejos, como la presencia de cataratas, nuestro equipo experto puede realizar procedimientos de extracción del cristalino e implantes de lentes intraoculares para restaurar tu visión.
				</li>
			</ul>
			<ScheduleAppointment />
		</div>
		<div class="md:w-2/5 p-4 md:border-l md:border-l-blue">
			<h3 class="mb-4 text-blue font-bold text-xl">Cataratas</h3>
			<p class="mb-4">Este procedimiento rápido y sin dolor implica la eliminación del cristalino opacificado y su reemplazo por un lente intraocular.</p>
			<p class="mb-4">Con la tecnología de facoemulsificación, podemos realizar este proceso con precisión y riesgos mínimos.</p>
			<p class="mb-4"><a href="#" class="text-blue-600 italic underline">Ver más</a></p>
			<ScheduleAppointment />
		</div>
	</div>
</div>