---
import BtnScheduleAppointment from '../interface/BtnScheduleAppointment.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title='Cataratas | CEO - Centro de Especialidades Oftalmológicas Dr. Nelson Bravo' desc='Centro de Especialidades Oftalmológicas, estamos comprometidos con su bienestar ocular a través de un especialista altamente calificado. Nuestra clínica está liderada por el Dr. Nelson Bravo experto en áreas fundamentales de la oftalmología.'>
	<div class="container mx-auto p-4">
		<h1 class="mb-4 text-blue font-bold text-xl">Cataratas</h1>
		<p class="mb-4">¡Recupera tu claridad visual con la cirugía de cataratas en el Centro de Especialidades Oftalmológicas (CEO)!</p>
		<p class="mb-4">Las cataratas son una de las principales causas de ceguera, pero afortunadamente, ¡son reversibles! A medida que envejecemos, el cristalino de nuestros ojos se vuelve opaco, afectando gradualmente nuestra visión. Los síntomas pueden incluir visión borrosa, colores desvanecidos, destellos con luces, entre otros.</p>
		<p class="mb-4">¿Qué son las cataratas? El cristalino, una lente natural en el ojo, se vuelve opaco con el tiempo, lo que dificulta la visión. Esto puede ocurrir debido al envejecimiento, enfermedades o lesiones oculares, entre otros factores de riesgo.</p>
		<p class="mb-4">En el CEO, ofrecemos una solución efectiva y segura: la cirugía de cataratas. Este procedimiento rápido y sin dolor implica la eliminación del cristalino opacificado y su reemplazo por una lente intraocular. Con la tecnología de facoemulsificación, podemos realizar este proceso con precisión y mínimos riesgos.</p>
		<p class="mb-4">¿Qué opciones de lentes intraoculares tenemos? Desde lentes monofocales que corrigen la visión lejana hasta lentes premium  multifocales, trifocales que ofrecen visión a varias distancias, adaptamos el tratamiento según tus necesidades individuales y expectativas.</p>
		<p class="mb-4">La recuperación después de la cirugía es rápida y cómoda, con un mínimo período de convalecencia. Nuestro equipo te proporcionará medicamentos tópicos para garantizar una recuperación sin complicaciones.</p>
		<p class="mb-4">Recupera tu calidad de vida y disfruta de una visión clara y nítida. En el CEO, estamos aquí para guiarte en cada paso del camino hacia una mejor visión. ¡Contáctanos hoy mismo para programar una consulta y dar el primer paso hacia una vida sin cataratas!</p>
		<BtnScheduleAppointment />
	</div>
</MainLayout>