---
import '@fontsource-variable/montserrat';
import Header from '../interface/Header.astro';
import Footer from '../interface/Footer.astro';
let {desc, title} = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={desc} />
		<title>{title}</title>
	</head>
	<body class='font-body bg-sky text-black'>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
